---
import AdminLayout from '../../layouts/AdminLayout.astro';
---
<AdminLayout>
  <header class="main-header">
    <h1>Gestión de Alimentos y Bebidas</h1>
    <p>Administra los productos de la dulcería.</p>
  </header>
</AdminLayout>