---
import AdminLayout from '../../layouts/AdminLayout.astro';
---
<AdminLayout>
  <header class="main-header">
    <h1>Gestión de Clientes</h1>
    <p>Visualiza y gestiona la información de los usuarios registrados.</p>
  </header>
</AdminLayout>