---
import AdminLayout from '../../layouts/AdminLayout.astro';
---
<AdminLayout>
  <header class="main-header">
    <h1>Gestión de Películas</h1>
    <p>Aquí podrás agregar, editar y eliminar películas.</p>
  </header>
</AdminLayout>