---
import AdminLayout from '../../layouts/AdminLayout.astro';
---
<AdminLayout>
  <header class="main-header">
    <h1>Ventas y Reportes</h1>
    <p>Consulta el historial de ventas y genera reportes.</p>
  </header>
</AdminLayout>